 <div class="container">
  <h3><%= t('comments.comment.comment_editing') %></h3>
  <%= link_to t('comments.comment.back'), event_path(@comment.event) %>
  <div class="mb-3 mt-3">    
    <div class="card-header border-0">
      <p class="m-0"><%= @comment.event.title %></p>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body bg-light">
      <div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
