<div class="card m-2" style="width: 16rem;">
  <%= image_tag(event_photo(event), class: "card-img-top", style: "height: 180px;", alt: "[event]") %>  
  <div class="card-body">
    <h5 class="card-title"><%= link_to truncate(event.title, lenght: 10, separator: ' '), event_path(event) %></h5>
    <small class="card-text"><%= event.address %></small>
  </div>
  <div class="card-footer">
    <small class="card-text"><%= l event.datetime, format: :short %></small>    
  </div>  
</div>
