<div class="mb-4">
  <h1><%= t('event.events') %></h1>
  <div class="d-flex flex-wrap mt-3 justify-content-md-start justify-content-center">
    <%= render partial: 'events/event', collection: @events %>
  </div>
</div>
