<div class="mt-2 mb-2 d-inline-flex">
  <div class="mr-3">
    <div>
      <%= link_to image_tag(photo.photo.thumb.url, class: "rounded", style: "object-fit: cover; width: 120px; height: 90px;"), photo.photo.url,
      data: {toggle: 'lightbox', title: "#{t('photos.author')}: #{ link_to photo.user.name, photo.user }", gallery: 'event-photos'} %>
    </div>
    <div class="badge-position">
      <% if current_user_can_edit?(photo) && photo.event.present? %>
        <%= link_to(
                fa_icon('trash'), 
                event_photo_path(photo.event, photo), class: "badge badge-danger badge-radius",
                method: :delete, data: {confirm: t('photos.destroy_confirm')}
            ) %>
      <% end %>
    </div>
  </div>
</div>
